<%- include("../partial/header.ejs") %>

    <%- include('../partial/breadcrumbs.ejs') %>



        <!-- Client Details -->
        <div class="clientdetail commpadisecar">
            <div class="container">
                <div class="row">
                    <div class="draftbox">

                        <!-- views/main/url.ejs -->
                        <table class="table largedatatable">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Edit</th>
                                    <th>ID</th>
                                    <th>Track ID</th>
                                    <th>Featured Image</th>
                                    <th>Title</th>
                                    <th>Short Content</th>
                                    <th>slug</th>
                                    <th>Visibility</th>
                                    <th>Visibility Date</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (Data && Array.isArray(Data) && Data.length> 0) { %>
                                    <% Data.forEach((data, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <a href="/blogs/post/update/<%= data.U_URl_ID %>">Edit</a>
                                            </td>
                                            <td>
                                                <%= data.U_URl_ID %>
                                            </td>
                                            <td>
                                                <%= data.UserAgentID %>
                                            </td>
                                            <td style="padding:0 !important;">
                                                <img src="/blogs/<%= data.Featured_Image %>" alt=""
                                                    class="thubnailsmall">
                                            </td>
                                            <td>
                                                <a href="/blogs/post/update/<%= data.U_URl_ID %>">
                                                    <%= data.Title %>
                                                </a>
                                            </td>
                                            <td>
                                                <%- data.Short_Content %>
                                            </td>
                                            <td>
                                                <a href="/blogs/<%= data.slug %>">
                                                    <%= data.slug %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= data.Visibility %>
                                            </td>
                                            <td>
                                                <%= moment(data.visibility_Date).format('DD MMMM YYYY') %>
                                            </td>
                                            <td>
                                                <a href="/blogs/post/Status/<%= data.U_URl_ID %>">
                                                    <%= data.isActive ? 'Active' : 'Inactive' %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= moment(data.Date).format('DD MMMM YYYY, h:mm:ss a') %>
                                            </td>
                                            <td>
                                                <a href="/blogs/post/delete/<%= data.U_URl_ID %>">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="13">No URLs found or error retrieving data.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>

                        <!-- Pagination Controls -->
                        <nav>
                            <ul class="pagination">
                                <% if (currentPage> 1) { %>
                                    <li class="page-item"><a class="page-link"
                                            href="/blogs/post?page=<%= currentPage - 1 %>&pageSize=<%= pageSize %>">Previous</a>
                                    </li>
                                    <% } %>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                <a class="page-link"
                                                    href="/blogs/post?page=<%= i %>&pageSize=<%= pageSize %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <li class="page-item"><a class="page-link"
                                                            href="/blogs/post?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>">Next</a>
                                                    </li>
                                                    <% } %>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>



        <%- include("../partial/footer.ejs") %>