<!-- Header Include -->
<%- include('../partial/header.ejs') %>


    <%- include('../partial/urlshortbrecrub.ejs') %>

        <!-- Client Details -->
        <div class="clientdetail commpadisecar">
            <div class="container">
                <div class="row">
                    <div class="draftbox">

                        <h4 class="titleoflist">
                            <span>Filter List Of URL Shortener
                                <i>
                                    (<%= moment(startDate).format('DD MMMM YYYY') %>)
                                </i>
                            </span>
                            <a href="/shortener/visiter/filtered-url-list/donwload/<%= startDate %>"
                                class="Download_btton">Donwload</a>
                        </h4>

                        <!-- Fillter -->
                        <div class="filtersecare">
                            <form method="post" action="/shortener/visiter/filtered-url-list">
                                <div class="col-md-6">
                                    <div class="filbox">
                                        <div class="form-group">
                                            <label for="startDate">Start Date:</label>
                                            <input type="date" name="startDate" class="form-control" required
                                                value="<%= startDate %>">
                                        </div>
                                        <button type="submit" class="btn btn-primary Download_btton">Filter</button>
                                    </div>
                                </div>
                                <div class="col-sm"></div>
                            </form>
                        </div>


                        <!-- views/main/url-shortener.ejs -->
                        <table class="table largedatatable">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>ID</th>
                                    <th>URL</th>
                                    <th>Short URL</th>
                                    <th>Date</th>
                                    <th>IP</th>
                                    <th>Divices</th>
                                    <th>Time Of Visit</th>
                                    <th>PreviousUrl</th>
                                    <th>CurrentUrl</th>
                                    <th>Used Browser</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (Data && Array.isArray(Data) && Data.length> 0) { %>
                                    <% Data.forEach((data, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= data.U_URl_ID %>
                                            </td>
                                            <td>
                                                <a href="<%= data.long_URL %>">
                                                    <%= data.long_URL %>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="<%= data.short_URL %>">
                                                    <%= data.short_URL %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= moment(data.Date).format('DD MMMM YYYY, h:mm:ss a') %>
                                            </td>
                                            <td>
                                                <%= data.requestDetails.ip %>
                                            </td>
                                            <!-- Add new <td> for `is` information -->
                                            <td>
                                                <%const
                                                    labels={isMobile:"Mobile",isTablet:"Tablet",isDesktop:"Desktop",isAndroid:"Android",isMac:"Mac"},isInfo=data.requestDetails.userAgentInfo.is,trueKeys=Object.entries(isInfo).filter(([e,s])=>
                                                    s).map(([e])=>labels[e]||e);
                                                    %>

                                                    <% if (trueKeys.length> 0) { %>
                                                        <% trueKeys.forEach((label, index)=> { %>
                                                            <b>
                                                                <%= label %>
                                                            </b>
                                                            <% if (index < trueKeys.length - 1) { %> ->
                                                                <% } %>
                                                                    <% }); %>
                                                                        <% } else { %>
                                                                            None
                                                                            <% } %>
                                            </td>
                                            <td>
                                                <%= data.requestDetails.timeOfVisit %>
                                            </td>
                                            <td>
                                                <%= data.requestDetails.previousUrl %>
                                            </td>
                                            <td>
                                                <%= data.requestDetails.currentUrl %>
                                            </td>

                                            <td>
                                                <span class="flex">
                                                    <%= data.requestDetails.userAgentInfo.platform %>
                                                        <%= data.requestDetails.userAgentInfo.browser %>
                                                            <i>
                                                                <%= data.requestDetails.userAgentInfo.source %>
                                                            </i>
                                                </span>

                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="6">No URLs found or error retrieving data.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>

                        <!-- Pagination Controls -->
                        <nav>
                            <ul class="pagination">
                                <% if (currentPage> 1) { %>
                                    <li class="page-item"><a class="page-link"
                                            href="/shortener/visiterpage=<%= currentPage - 1 %>&pageSize=<%= pageSize %>">Previous</a>
                                    </li>
                                    <% } %>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                <a class="page-link"
                                                    href="/shortener/visiter?page=<%= i %>&pageSize=<%= pageSize %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <li class="page-item"><a class="page-link"
                                                            href="/shortener/visiter?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>">Next</a>
                                                    </li>
                                                    <% } %>
                            </ul>
                        </nav>



                    </div>
                </div>
            </div>
        </div>



        <!-- Footer Include -->
        <%- include('../partial/footer.ejs') %>